<!-- Sidebar -->
<div class="sidebar h-screen sticky top-0 left-0 ">
    <!-- Sidebar user (optional) -->
    <!-- <a [routerLink]="['/']" class="brand-link">
        <div class="mx-5 p-4  rounded-xl bg-slate-800 bg-opacity-80  font-bold text-4xl">
            <p class="text-slate-50  "> <span class="text-green-500">Green</span>-Mart  </p>
        </div>
        
    </a> -->
    <!-- Sidebar Menu -->
    <nav  class="  bg-slate-800 text-slate-50   h-[100%] mx-2 align rounded-2xl">
            <div class="flex min-h-full my-2  gap-10 mx-4 flex-col justify-center items-cente">
                <!-- <a class="hover:text-green-700"> 
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="h-6 fill-current text-slate-100 hover:text-green-700 inline-block" role="img">
                        <path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/>
                    </svg>
                    <span class="text-xl px-2 py-9 my-2"> Home </span>
                </a> -->
                <a routerLink="/home/veggies" routerLinkActive="active"> 
                    <img src="../../../assets/vegetables.png" alt="cosmetics" class="h-12 hover:h-14 fill-current text-slate-100 hover:text-green-700 inline-block " role="img">
                    <span class="text-2xl px-2 py-9 my-2  "> Veg-Market </span>
                </a>
                <a routerLink="/home/Fruits" routerLinkActive="active">
                    <img src="../../../assets/fruits.png" alt="cosmetics" class="h-12 fill-current hover:h-14 text-slate-100 hover:text-green-700 inline-block" role="img">
                    <span class="text-2xl px-2 py-9 my-2 hover:text-3xl"> Fruits </span>
                </a>
                <a routerLink="/home/Grocery" routerLinkActive="active">
                    <img src="../../../assets/groceries.png" alt="Grocery" class="h-12 fill-current hover:h-14 text-slate-100 hover:text-green-700 inline-block" role="img">
                    <span class="text-2xl px-2 py-9 my-2 hover:text-3xl"> Grocery </span>
                </a>
                <a routerLink="/home/Cosmetics" routerLinkActive="active">
                    <img src="../../../assets/extract.png" alt="cosmetics" class="h-12 fill-current hover:h-14 text-slate-100 hover:text-green-700 inline-block" role="img">
                    <span class="text-2xl px-2 py-9 my-2 hover:text-3xl"> Cosmetics </span>
                </a>
                <a routerLink="/home/Profile" routerLinkActive="active">
                    <img src="../../../assets/farmer.png" alt="cosmetics" class="h-12 fill-current hover:h-14 text-slate-100 hover:text-green-700 inline-block" role="img">
                    <span class="text-2xl px-2 py-9 my-2 hover:text-3xl"> Profile </span>
                </a>
            </div>
    </nav>
</div>
