<div class="flex flex-wrap">
    <div class="w-full">
        <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                    (click)="toggleTabs(1)"
                    [ngClass]="{'text-green-600 bg-white': openTab !== 1, 'text-white bg-green-600': openTab === 1}">
                    <i class="fas fa-space-shuttle text-base mr-1"></i> Baby & Personal Care
                </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                    (click)="toggleTabs(2)"
                    [ngClass]="{'text-green-600 bg-white': openTab !== 2, 'text-white bg-green-600': openTab === 2}">
                    <i class="fas fa-cog text-base mr-1"></i> Household Case
                </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                    (click)="toggleTabs(3)"
                    [ngClass]="{'text-green-600 bg-white': openTab !== 3, 'text-white bg-green-600': openTab === 3}">
                    <i class="fas fa-briefcase text-base mr-1"></i> Home & Kitchen
                </a>
            </li>

        </ul>
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 rounded">
            <div class="px-4 py-5 flex-auto">
                <div class="tab-content tab-space">
                    <div [ngClass]="{'hidden': openTab !== 1, 'flex flex-col md:flex-row gap-3': openTab === 1}">
                        <ng-container class="container" *ngFor="let data of babiesProductList">
                            <div class="w-[30%] bg-white border border-gray-200 rounded-lg shadow-2xl  ">
                                <div class="container h-60">
                                    <img class="rounded-t-lg" src="../../../assets/{{data.product}}.jpg"
                                        class="object-fit p-4 w-full h-full" />
                                </div>
                                <div class="p-5">
                                    <a>
                                        <h5
                                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900   hover:cursor-pointer">
                                            {{data.product}} </h5>
                                    </a>
                                    <p class="mb-3 font-normal text-gray-700 -400 flex justify-center text-xl">
                                        {{ data.type }}
                                    </p>
                                    <p class="text-2xl underline"> Ingredients </p>
                                    <span> {{data.ingredients[0]}}... </span>
                                    <!-- <div class="flex flex-row gap-1" *ngFor="let incre of data.ingredients" >
                                        <span class="rounded-full border-slate-800 border-solid"> {{ incre }}, </span >
                                    </div> -->
                                    <div class="flex flex-col sm:flex-row gap-2">
                                        <a
                                            class=" m-2 items-center  py-2  font-medium text-center text-xl rounded-lg hover:font-bold focus:ring-4 focus:outline-none focus:ring-blue-300 ">
                                            {{ data.price | currency:'INR' }} /-
                                            <!-- <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                        </svg> -->
                                        </a>
                                        <a
                                            class=" m-2 items-center  py-2  font-medium text-center text-xl rounded-lg hover:font-bold focus:ring-4 focus:outline-none focus:ring-blue-300 ">
                                            {{ data.volume }}
                                            <!-- <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                        </svg> -->
                                        </a>
                                    </div>
                                    <a
                                        class="inline-flex mx-auto hover:cursor-pointer items-center h-10 my-4 px-3 py-0 text-sm font-medium text-center w-full
                                     text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                                        More Details.
                                    </a>
                                    <a
                                        class="inline-flex mx-auto hover:cursor-pointer items-center px-3 py-0 text-sm font-medium text-center w-full
                                     text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                                        Add to Cart
                                        <img src="../../../assets/cart.png" alt="cart" class="h-10 p-0 m-0">
                                    </a>
                                </div>
                            </div>
                        </ng-container>

                    </div>
                    <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                        <p>
                            Completely synergize resource taxing relationships via
                            premier niche markets. Professionally cultivate one-to-one
                            customer service with robust ideas.
                            <br />
                            <br />
                            Dynamically innovate resource-leveling customer service for
                            state of the art customer service.
                        </p>
                    </div>
                    <div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}">
                        <p>
                            Efficiently unleash cross-media information without
                            cross-media value. Quickly maximize timely deliverables for
                            real-time schemas.
                            <br />
                            <br />
                            Dramatically maintain clicks-and-mortar solutions
                            without functional solutions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>