.baclpanel{
    background-image: url('https://vastphotos.com/files/uploads/photos/10231/farm-at-sunset-l.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
