
<!-- 
<div class="absolute top-10 right-64 h-14 w-14 border-4 border-t-4 opacity-15 border-red-500 rounded-full delay-1000 animate-pulse "></div>
<div class="absolute top-10 left-64 h-14 w-14 border-4 border-t-4 opacity-15 border-red-500 rounded-full delay-500 animate-pulse "></div>
<div class=" h-12 w-12 border-4 border-t-4 opacity-15 delay-100  border-blue-500 rounded-full animate-pulse absolute top-52 left-96 "></div>
<div class=" h-12 w-12 border-4 border-t-4 opacity-15 delay-700  border-yellow-500 rounded-md animate-pulse absolute top-96 left-36 "></div>
<div class=" h-12 w-12 border-4 border-t-4 opacity-15 delay-500  border-green-500 rounded-md animate-pulse absolute top-80 right-96 "></div>
<div class=" h-12 w-12 border-4 border-t-4 opacity-15 delay-700  border-purple-500 rounded-full animate-pulse absolute top-32 right-24 "></div>
<div class=" h-12 w-12 border-4 border-t-4 opacity-15 delay-500  border-slate-500 rounded-full animate-pulse absolute top-96 right-0 "></div>
<div class=" h-12 w-12 border-4 border-t-4 opacity-15 delay-500  border-blue-500 rounded-md animate-pulse absolute bottom-44 right-24 "></div>
<div class=" h-12 w-12 border-4 border-t-4 opacity-15 delay-1000  border-pink-500 rounded-full animate-pulse absolute bottom-36 left-10 "></div> -->

<!-- completed -->
<section class="text-gray-600 body-font bg-url bg-opacity-80">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">ROAD TO NATURAL EXTRACTS </h2>
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Master in organic farming inspired from nature nutrients</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base"> 
            Organic Farming Organic farming is a sustainable agriculture system that excludes the use of synthetic inputs in farming and relies on 
            on-farm inputs such as crop residues, farmyard manure, enriched composts, vermi-compost, oil cakes, bio-fertilizers etc for nutrient management 
            of crops1. It’s an age-old practice in India that relies on natural methods and inputs to produce healthy and nutritious food
            . Organic farming promotes sustainable agriculture practices and supports ecological balance.
        </p>
    </div>
    <div class="flex flex-wrap">
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2"> Freshy Veggies  </h2>
          <p class="leading-relaxed text-base mb-4">Freshy veggies from our farm to your door steps: Farms located under Shendriya Areas</p>
          <a class="text-indigo-500 inline-flex items-center cursor-pointer ">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2"> Organic Nutrients Fruits  </h2>
          <p class="leading-relaxed text-base mb-4">Chemical pesticides free ripe Fruits grows under Go Farm surveillance .</p>
          <a class="text-indigo-500 inline-flex items-center cursor-pointer ">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2"> Organic Farming </h2>
          <p class="leading-relaxed text-base mb-4"> Organic Farms used natural composts and natural pesticides for Farming All farms are belongs from tribe area. </p>
          <a class="text-indigo-500 inline-flex items-center cursor-pointer ">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2"> Go Green Products </h2>
          <p class="leading-relaxed text-base mb-4">co-ordinate with some organic product manufactures for delivering good quality row material to made natural product like home made </p>
          <a class="text-indigo-500 inline-flex items-center cursor-pointer ">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <a routerLink="/home/Veggies" ><button  class="flex mx-auto mt-16 text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg"> Go to Shop </button></a>
    </div>
  </section>